<template>
    <!-- <li> -->
        <router-link :to="to" class="flex">
            <div v-if="haveIcon()" class="pr-3 pl-3" >
                <font-awesome-icon :icon="icon" size="sm" />   
            </div>
            
            <slot></slot>
        </router-link>
    <!-- </li> -->
</template>

<script>
export default {
    name: 'HeaderLink',
    props: {
        to: { type: String, required: true },
        icon: { type: String, default: '' }
    },
    methods: {
        haveIcon() {
            return this.icon.length
        }
    }
    
}
</script>

<style scoped>
.router-link-exact-active {
    color: #059669;
}

a {
    cursor: pointer;
}
</style>