<template>
 <header class="w-full flex justify-center">

    <div class="w-4/5 flex items-end border-b border-gray-200 my-5 pb-5">
      <!-- Logo/title -->
      <div class="title">
        <HeaderLink to="/">
          <h1 class="p-2 pr-6 border-r border-gray-400 text-3xl text-primary">Festiplace</h1>
        </HeaderLink>
      </div>

      <!-- Menu -->
      <div class="w-full">
        <ul justifyContent="around" alignItems="center" balise="ul" class="w-4/5 flex justify-around items-center">
          <li v-for="(link, index) in links" :key="index" class="p-2 hover:text-primary">
            <HeaderLink :to="link.path" :icon="link.icon">{{ link.text }}</HeaderLink>
          </li>
        </ul>
      </div>
        
      <!-- Authentication Menu -->
      <ul class="flex justify-center items-center border-l border-gray-400 min-w-[235px]"> 
        <li v-if="!userIsConnected" class="p-2 hover:text-primary">
          <HeaderLink  to="/login" icon="fa-solid fa-user">Login</HeaderLink>
        </li>
        <li v-if="!userIsConnected" class="p-2 hover:text-primary">
          <HeaderLink to="/register">Register</HeaderLink>
        </li>
        <li v-if="userIsConnected" class="p-2 hover:text-primary">
          <HeaderLink @click="logout()" to="/logout" icon="fa-solid fa-user">Logout</HeaderLink>
        </li>
        <li v-if="userIsConnected" class="p-2 hover:text-primary">
          <HeaderLink to="/profile" >My account</HeaderLink>
        </li>
      </ul>

    </div>

  </header>
</template>

<script>
import HeaderLink from '@/components/ui/nav/HeaderLink.vue'
import { mapStores } from 'pinia'
import { useAuthenticationStore } from '@/stores/authentication-store'

export default {
    name: "Header",    
    components: { HeaderLink},
    props: {
      userIsConnected: { type: Boolean, default: false}
    },
    data() {
        return {
            links: [
                { path: '/', text: 'Home', icon: 'fa-solid fa-house' },
                { path: '/Festivals', text: 'Festivals', icon: 'fa-solid fa-users' },
                { path: '/Stands', text: 'Stands', icon: 'fa-solid fa-store' },
                { path: '/Events', text: 'Events', icon: 'fa-solid fa-calendar-check' },
                { path: '/Contact', text: 'Contact', icon: 'fa-solid fa-address-card' },
            ]
        }
    },

    computed: {
      ...mapStores(useAuthenticationStore)
    },

    methods: {
      logout() {
        console.log('logout')
        this.authenticationStore.disconnect()
      }
    }
}
</script>

<style>
</style>