<template>
    <div :class="alert.type" class="h-[53px] my-2 p-4 flex justify-between items-center bg-amber-100">
        <font-awesome-icon icon="fa-solid fa-circle-exclamation" size="xl" />  
        <p>{{ alert.message }}</p>
        <font-awesome-icon icon="fa-solid fa-xmark" size="xl" @click="$emit('remove')"/>
    </div>
</template>

<script>
export default {
    props: {
        alert: { type: Object, require: true }
    }
}
</script>

<style lang="scss" scoped>

</style>