<template>
    <div class="w-2/5 absolute top-[100px]">
        <ul>
            <li v-for="(alert, index) in alerts" :key="index">
                <Alert :alert="alert" @remove="removeAlert()"/>
            </li>
        </ul>
    </div>
</template>

<script>
import Alert from './Alert.vue'
export default {
    name: 'AlertList',
    props: {
        alerts: Array
    },

    methods: {
        removeAlert(index) {
            this.alerts.splice(index, 1)
        }
    },
    components: { Alert }
}
</script>

<style lang="scss" scoped>

</style>