<template>
  <form @submit.prevent class="flex flex-col pt-5">
    <InputTextActivated
      v-model="formProfile.firstname"
      :error="v$.formProfile.firstname.$error"
      label="Firstname"
      :key="this.childKey"
    >
      <InputError
        v-if="v$.formProfile.firstname.$error"
        :message="v$.formProfile.firstname.$errors[0].$message"
      />
    </InputTextActivated>

    <InputTextActivated
      v-model="formProfile.lastname"
      :error="v$.formProfile.lastname.$error"
      label="Lastname"
      :key="this.childKey"
    >
      <InputError
        v-if="v$.formProfile.lastname.$error"
        :message="v$.formProfile.lastname.$errors[0].$message"
      />
    </InputTextActivated>

    <InputTextActivated
      v-model="formProfile.username"
      :error="v$.formProfile.username.$error"
      label="Username"
      :key="this.childKey"
    >
      <InputError
        v-if="v$.formProfile.username.$error"
        :message="v$.formProfile.username.$errors[0].$message"
      />
    </InputTextActivated>

    <InputTextActivated
      v-model="formProfile.email"
      :error="v$.formProfile.email.$error"
      label="Email"
      :key="this.childKey"
    >
      <InputError
        v-if="v$.formProfile.email.$error"
        :message="v$.formProfile.email.$errors[0].$message"
      />
    </InputTextActivated>

    <InputTextActivated
      v-model="formProfile.phone"
      :error="v$.formProfile.phone.$error"
      label="Phone"
      :key="this.childKey"
    >
      <InputError
        v-if="v$.formProfile.phone.$error"
        :message="v$.formProfile.phone.$errors[0].$message"
      />
    </InputTextActivated>

    <div class="flex">
      <button
        @click="saveProfile()"
        class="
          rounded-md
          py-2
          px-4
          mr-6
          text-white
          bg-primary
          hover:bg-primary/75
        "
      >
        Update profile settings
      </button>
      <button class="rounded-md py-2 px-4 border border-gray-300">
        Cancel
      </button>
    </div>
  </form>
</template>

<script>
import InputError from '@/components/ui/forms/InputError.vue'
import InputText from "@/components/ui/forms/InputText.vue";
import InputTextActivated from "@/components/ui/forms/InputTextActivated.vue";
import useValidate from "@vuelidate/core";
import { email, minLength, maxLength, required } from "@vuelidate/validators";
import { mapActions, mapState } from "pinia";
import { useAuthenticationStore } from "@/stores/authentication-store";

export default {
  name: "FormProfile",
  components: { InputText, InputError, InputTextActivated },

  data() {
    return {
      v$: useValidate(),
      formProfile: {
        firstname: "",
        lastname: "",
        username: "",
        email: "",
        phone: "",
      },

      childKey: 0,
    };
  },

  validations() {
    return {
      formProfile: {
        lastname: {
          minLength: minLength(4),
          maxLenght: maxLength(50),
          required,
        },
        firstname: {
          minLength: minLength(4),
          maxLenght: maxLength(50),
          required,
        },
        username: {
          minLength: minLength(4),
          maxLenght: maxLength(50),
          required,
        },
        email: { required, email },
        phone: { minLength: minLength(10), maxLenght: maxLength(10), required },
      },
    };
  },

  async mounted() {
    console.log("-- Profile page mounting --");
    await this.getUser().catch((err) => this.disconnect());
    this.formProfile = {
      firstname: this.user.firstname,
      lastname: this.user.lastname,
      username: this.user.username,
      email: this.user.email,
      phone: this.user.phone
    }
  },

  computed: {
    ...mapState(useAuthenticationStore, ["user"]),
  },

  methods: {
    ...mapActions(useAuthenticationStore, ["getUser", "disconnect", "updateProfile"]),

    saveProfile() {
      this.v$.$validate();
      console.log(this.formProfile);
      if(!this.v$.$error) {
        this.updateProfile(this.formProfile)
          .then(user => {
            this.formProfile = {
              firstname: user.firstname,
              lastname: user.lastname,
              username: user.username,
              email: user.email,
              phone: user.phone
            }
          })
          .catch(error => console.log(error))
          this.childKey++
      }
    },
  },
};
</script>

<style></style>
