<template>
    <form @submit.prevent class="flex flex-col">
        <InputTextActivated
            v-model="form.name"
            label="Name"
            :error="v$.form.name.$error"
        >
            <InputError
                v-if="v$.form.name.$error"
                :message="v$.form.name.$errors[0].$message"
            />
        </InputTextActivated>

        <InputTextActivated
            v-model="form.email"
            label="Email"
            :error="v$.form.email.$error"
        >
            <InputError
                v-if="v$.form.email.$error"
                :message="v$.form.email.$errors[0].$message"
            />
        </InputTextActivated>

        <InputTextActivated
            v-model="form.phone"
            :error="v$.form.phone.$error"
            label="Phone"
        >
            <InputError
                v-if="v$.form.phone.$error"
                :message="v$.form.phone.$errors[0].$message"
            />
        </InputTextActivated>

        <InputTextActivated
            v-model="form.siret"
            :error="v$.form.siret.$error"
            label="Siret"
        >
            <InputError
                v-if="v$.form.siret.$error"
                :message="v$.form.siret.$errors[0].$message"
            />
        </InputTextActivated>

        <InputText
            class="mr-[51.5px]"
            v-model="form.rnc"
            label="Code R.N.C"
            :disabled="true"
        >
        </InputText>


        <InputSelectActivated v-model="form.category" :options="['Rock', 'Reggae']" :error="false" label="Catégory" >

        </InputSelectActivated>

        
    </form>
</template>

<script>
import InputError from '@/components/ui/forms/InputError.vue'
import InputTextActivated from "@/components/ui/forms/InputTextActivated.vue";
import useValidate from "@vuelidate/core";
import { email, maxLength, minLength, required } from '@vuelidate/validators';
// import InputSelect from '@/components/forms/InputSelect.vue';
import InputText from '@/components/ui/forms/InputText.vue';
import InputSelectActivated from '@/components/ui/forms/InputSelectActivated.vue';

export default {
    name: 'FormOrganisation',
    components: { InputTextActivated, InputError, InputText, InputSelectActivated },

    data() {
        return {
            v$: useValidate(),
            form: {
                name: '',
                email: '',
                phone: '',
                siret: '',
                rnc: 'W876576',
                category: ''
            }
        }
    },

    validations() {
        return {
            form: {
                name: { minLength: minLength(4), maxLength: maxLength(50), required },
                email: { required, email },
                phone: { minLength: minLength(10), maxLenght: maxLength(10), required },
                siret: { minLength: minLength(14), maxLenght: maxLength(14), required },
                category: { required }
            }
        }
    },

    // mounted() {
    //     this.v$.$validate()
    // }

}
</script>