<template>
  <form @submit.prevent class="flex flex-col">
    <InputText
      v-model="formPassword.currentPassword"
      :error="v$.formPassword.currentPassword.$error"
      label="Curent password"
      type="password"
    >
      <InputError
        v-if="v$.formPassword.currentPassword.$error"
        :message="v$.formPassword.currentPassword.$errors[0].$message"
      />
    </InputText>

    <InputText
      v-model="formPassword.password"
      :error="v$.formPassword.password.$error"
      label="New password"
      type="password"
    >
      <InputError
        v-if="v$.formPassword.password.$error"
        :message="v$.formPassword.password.$errors[0].$message"
      />
    </InputText>

    <InputText
      v-model="formPassword.plainPassword"
      :error="v$.formPassword.plainPassword.$error"
      label="Confirme password"
      type="password"
    >
      <InputError
        v-if="v$.formPassword.plainPassword.$error"
        :message="v$.formPassword.plainPassword.$errors[0].$message"
      />
    </InputText>

    <div class="flex">
      <button
        @click="savePassword()"
        class="
          rounded-md
          py-2
          px-4
          mr-6
          text-white
          bg-primary
          hover:bg-primary/75
        "
      >
        Save password
      </button>
      <router-link to="/profile/forgoten-password" class="py-2 text-primary"
        >I forgot my password</router-link
      >
    </div>
  </form>
</template>

<script>
import InputError from '@/components/ui/forms/InputError.vue'
import InputText from '@/components/ui/forms/InputText.vue'
import useValidate from '@vuelidate/core'
import { sameAs, minLength, required } from '@vuelidate/validators'


export default {
  name: "FormPassword",
  components: { InputError, InputText },

  data() {
    return {
      v$: useValidate(),

      formPassword: {
        currentPassword: "",
        password: "",
        plainPassword: "",
      },
    }
  },


  validations() {
    return {
      formPassword: {
        currentPassword: { required, minLenght: minLength(4) },
        password: { required, minLenght: minLength(4) },
        plainPassword: {
          sameAsPassword: sameAs(this.formPassword.password),
        },
      },
    }
  },

  methods: {
    savePassword() {
        this.v$.$validate()
        console.log(this.formPassword)
    }
  }
}
</script>

<style>
</style>