<template>
  <Header v-if="!viewNotFound" :userIsConnected="authenticationStore.isConnected()"><div></div></Header>
  <router-view/>
</template>

<script >
import {mapStores} from 'pinia'
import Header from '@/components/headers/Header.vue'
import { useAuthenticationStore } from './stores/authentication-store'

export default {
  name: 'App',
  components: { Header },
  data() {
    return {
      viewNotFound: false,
    }
  },
  computed: {
    ...mapStores(useAuthenticationStore)
  },

  watch: {
    '$route.name'() {
      console.log(this.$route.name)
      this.viewNotFound = this.$route.name == 'NotFound'
    }
  }
}

</script>

<style >
* {
  margin: 0;
  padding: 0;
}
html,
body {
  box-sizing: border-box;
}
</style>