<template>
    <form @submit.prevent class="authForm border border-gray rounded-xl p-8">

            <div class="flex flex-col mb-4">
                <label>Email</label>
                <input 
                    class="p-2 border border-gray-300 rounded focus:border-gray-500 focus:outline-none" 
                    :class="{ 'border-rose-500': v$.email.$error }"
                    type="text" v-model="email"
                >
                <InputError v-if="v$.email.$error" :message="v$.email.$errors[0].$message" />
            </div>

            <div class="flex flex-col mb-4">
                <label>Password</label>
                <input 
                    class="p-2 border border-gray-300 rounded focus:border-gray-500 focus:outline-none"
                    :class="{ 'border-rose-500': v$.password.$error }"
                    type="password" v-model="password"
                >
                <InputError v-if="v$.password.$error" :message="v$.password.$errors[0].$message" />
            </div>

            <div class="w-full flex justify-center mb-4" justifyContent="center">
                <div class="pr-2">
                  <input type="checkbox" v-model="remember" class="mr-2"/>
                  <span>Remember me</span>
                </div>
                <router-link to="/reset_password" class="text-primary">forgotten password</router-link>

                <InputError v-if="v$.remember.$error" :message="v$.remember.$errors[0].$message" />
            </div>

            <div class="flex justify-center pt-4">
                <button @click="login()" class="rounded-md w-full pt-2 pb-2 text-white bg-primary hover:bg-primary/75">{{ btnText }}</button>
            </div>

        </form>
</template>

<script>
import { mapStores } from 'pinia'
import { useAuthenticationStore } from '@/stores/authentication-store'
import useValidate from '@vuelidate/core'
import { required, email, minLength } from '@vuelidate/validators'
import InputError from '@/components/ui/forms/InputError.vue'

export default {
    name: 'LoginForm',
    components: { InputError },
    props: {
        // registerMode: { type: Boolean, require: true },
        btnText: { type: String, require: true },
    },
    data() {
        return {
            v$: useValidate(),
            email: '',
            password: '',
            remember: false
        }
    },

    validations() {
        return {
            email: { required, email },
            password: { required, minLenght: minLength(4) },
            remember: required
        }
    },

    computed: {
        ...mapStores(useAuthenticationStore)
    },

    methods: {
        login() {
            this.v$.$validate();
            
            if(!this.v$.$error) {
                this.authenticationStore.login(this.email, this.password, this.remember)
                    .catch(error => this.$emit('error', { message: "Invalid email or password", type: "danger" }))
            }
            
        },
    }
}
</script>

<style lang="scss" scoped>

</style>