<template>
    <form @submit.prevent class="authForm border border-gray rounded-xl p-8">

        <div class="w-full flex justify-between">
            <InputText 
                v-model="form.lastname" 
                :error="v$.form.lastname.$error" 
                label="Lastname" 
                class="w-2/5"
            >
                <InputError v-if="v$.form.lastname.$error" :message="v$.form.lastname.$errors[0].$message" />
            </InputText>

            <InputText 
                v-model="form.firstname" 
                :error="v$.form.firstname.$error" 
                label="Firstname" 
                class="w-2/5"
            >
                <InputError v-if="v$.form.firstname.$error" :message="v$.form.firstname.$errors[0].$message" />
            </InputText>
        </div>

        <InputText 
            v-model="form.username" 
            :error="v$.form.username.$error" 
            label="Username"
        >
            <InputError v-if="v$.form.username.$error" :message="v$.form.username.$errors[0].$message" />
        </InputText>

        <InputText 
            v-model="form.email" 
            :error="v$.form.email.$error" 
            label="Email"
        >
            <InputError v-if="v$.form.email.$error" :message="v$.form.email.$errors[0].$message" />
        </InputText>

        <InputText 
            v-model="form.password" 
            :error="v$.form.password.$error" 
            label="Password" 
            type="password"
        >
            <InputError v-if="v$.form.password.$error" :message="v$.form.password.$errors[0].$message" />
        </InputText>

        <InputText 
            v-model="form.plainPassword" 
            :error="v$.form.plainPassword.$error" 
            label="Confirme password" 
            type="password"
        >
            <InputError v-if="v$.form.plainPassword.$error" :message="v$.form.plainPassword.$errors[0].$message" />
        </InputText>

        <InputSelect 
            v-model="form.role" 
            label="Role" 
            :options="selectOptions"
            :error="v$.form.role.$error"
        >
            <InputError v-if="v$.form.role.$error" :message="v$.form.role.$errors[0].$message" />
        </InputSelect>



        <div class="flex justify-center pt-4">
            <button @click="register()" 
                class="rounded-md w-full pt-2 pb-2 text-white bg-primary hover:bg-primary/75" 
            >{{ btnText }}</button>
        </div>

    </form>
</template>

<script>
import { mapStores } from 'pinia'
import { useAuthenticationStore } from '@/stores/authentication-store'
import useValidate from '@vuelidate/core'
import { required, email, minLength, maxLength, sameAs,  } from '@vuelidate/validators'
import InputError from '@/components/ui/forms/InputError.vue'
import InputText from '@/components/ui/forms/InputText.vue'
import InputSelect from '@/components/ui/forms/InputSelect.vue'

export default {
    name: 'RegisterForm',
    components: { InputError, InputText, InputSelect },
    props: {
        // registerMode: { type: Boolean, require: true },
        btnText: { type: String, require: true },
    },
    data() {
        return {
            v$: useValidate(),
            form: {
                lastname: '',
                firstname: '',
                username: '',
                email: '',
                password: '',
                plainPassword: '',
                role: '',
            },
            selectOptions: {
                ROLE_USER: 'Festivalier',
                ROLE_EVENT_CREATOR: 'Organisateur d\'événement',
                ROLE_STAND_OWNER: 'Propriétaire de stand'
            }
        }
    },

    validations() {
        return {
            form: {
                lastname: { minLength: minLength(4), maxLenght: maxLength(50), required },
                firstname: { minLength: minLength(4), maxLenght: maxLength(50), required },
                username: { minLength: minLength(4), maxLenght: maxLength(50), required },
                email: { required, email },
                password: { required, minLenght: minLength(4) },
                plainPassword: { sameAsPassword: sameAs(this.form.password) },
                role: { required }
            }
            
        }
        
    },

    computed: {
        ...mapStores(useAuthenticationStore)
    },
    
    methods: {
        register() {
            this.v$.$validate()
            console.log(this.form)
            if(!this.v$.$error) {
                this.authenticationStore.createAccount(this.form)
                    .then(() => this.$router.push('login')) // if account is create redirect to login page
                    .catch(error => this.$emit('errors', {  // else return and show error
                            message: error.message, 
                            type: 'fail' 
                        }
                    ))
            }
        }
    }
}
</script>

<style scoped>
</style>