<template>
  <div class="row-span-1 col-start-3 col-span-2 flex flex-col items-center">
    <div class="pt-5 pl-10">
      <h2 class="text-2xl">Organisation settings :</h2>
      <span class="text-xs"
        >This information will apear on your organisation public page</span
      >
    </div>
  </div>

  <div class="row-span-3 col-start-5 col-span-2 pt-5">
    <FormOrganisations />
  </div>

  <div class="row-span-1 col-start-8 col-span-2">
    <div class="pt-5 pl-5">
      <h2 class="text-2xl">Organisation Address :</h2>
      <span class="text-xs"
        >This information will appear on your organisation public page.</span
      >
    </div>
  </div>

  <div class="row-span-2 col-start-10 col-span-full">
    <form @submit.prevent class="flex flex-col pt-5">
      <InputTextActivated
        v-model="form.address"
        :error="v$.form.address.$error"
        label="Address"
      >
        <InputError
          v-if="v$.form.address.$error"
          :message="v$.form.address.$errors[0].$message"
        />
        <span class="text-xs">The address of your organisation.</span>
      </InputTextActivated>

      <InputTextActivated
        v-model="form.city"
        :error="v$.form.city.$error"
        label="City"
      >
        <InputError
          v-if="v$.form.city.$error"
          :message="v$.form.city.$errors[0].$message"
        />
        <span class="text-xs">The city of your organisation.</span>
      </InputTextActivated>

      <InputTextActivated
        v-model="form.zipcode"
        :error="v$.form.zipcode.$error"
        label="Postal code"
      >
        <InputError
          v-if="v$.form.zipcode.$error"
          :message="v$.form.zipcode.$errors[0].$message"
        />
        <span class="text-xs">The postal code organisation.</span>
      </InputTextActivated>
    </form>
  </div>

  <div class="row-start-3 row-span-2 col-start-8 col-span-4">
    <div class="pt-5 pl-5">
      <h2 class="text-2xl">Organisation description :</h2>
      <span class="text-xs">Simple description off your organisation</span>
      <TextAreaActivated v-model="form.description" />
    </div>
  </div>

  <div class="row-start-4 row-span-1 col-start-3 col-span-3">
    <div class="w-full h-full flex items-center pl-10">
      <button
        @click="saveEventCreatorProfile()"
        class="
          rounded-md
          py-2
          px-4
          mr-6
          text-white
          bg-primary
          hover:bg-primary/75
        "
      >
        Update organisation settings
      </button>
      <button class="rounded-md py-2 px-4 border border-gray-300">
        Cancel
      </button>
    </div>
  </div>
</template>

<script>
import FormOrganisations from "@/components/forms/profile/FormOrganisations.vue";
import InputTextActivated from "@/components/ui/forms/InputTextActivated.vue";
import useVuelidate from "@vuelidate/core";
import { required } from "@vuelidate/validators";
import TextAreaActivated from "../ui/forms/TextAreaActivated.vue";
import InputError from "../ui/forms/InputError.vue";

export default {
  name: "OrganisationSeetings",
  components: {
    FormOrganisations,
    InputTextActivated,
    TextAreaActivated,
    InputError,
  },

  data() {
    return {
      v$: useVuelidate(),
      form: {
        address: "",
        zipcode: "",
        city: "",
        description: "",
      },
    };
  },

  validations() {
    return {
      form: {
        address: { required },
        zipcode: { required },
        city: { required },
      },
    };
  },

  methods: {
    saveEventCreatorProfile() {
      console.log(this.form);
      console.log(this.getFormDatas)
    },
  },

  mounted() {
    this.v$.$validate();
  },
};
</script>

<style>
</style>