<template>
    <div class="row-span-1 col-start-3 col-span-2 flex flex-col items-center">
      <div class="pt-5">
        <h2 class="text-2xl">Main settings :</h2>
        <span class="text-xs">This information will apear on your profile</span>
      </div>
    </div>

    <div class="row-span-3 col-start-5 col-span-2">
      <FormProfile />
    </div>

    <div
      class="
        row-start-4 row-span-1
        col-start-3 col-span-2
        flex flex-col
        items-center
      "
    >
      <div class="pt-8 w-[230px]">
        <h2 class="text-2xl">Password settings :</h2>
        <span class="text-xs"
          >After a successful password update, you will be redirected to the
          login page where you can log in with your new password.</span
        >
      </div>
    </div>

    <div class="row-start-4 row-span-2 col-start-5 col-span-2">
      <div class="flex flex-col pt-8">
        <span class="pb-1 text-xs"
          >Change your password or recover your current one</span
        >
        <FormPassword />
      </div>
    </div>

    <div class="row-span-1 col-start-8 col-span-2">
      <div class="pt-5">
        <h2 class="text-2xl">Public avatar :</h2>
        <span class="text-xs">You can upload your avatar or change it.</span>
      </div>
    </div>

    <div class="row-span-2 col-start-10 col-span-full">
      <div class="flex flex-col pt-5 text-2xl">
        <h3 class="pl-20">Upload new avatar</h3>
        <div class="flex items-end justify-between w-3/4">
          <div class="w-[64px] h-[64px] bg-sky-900 rounded-full mb-1"></div>
          <!-- TODO mettre une image -->
          <div class="flex flex-col">
            <input
              class="
                rounded
                text-sm
                file:text-sm
                file:py-1
                file:px-3
                file:bg-transparent
                file:rounded-lg
                file:border
                file:border-solid
                file:border-gray-300
              "
              type="file"
            />
            <span class="text-xs pt-1"
              >The maximum file size allowed is 200KB</span
            >
          </div>
        </div>
      </div>
    </div>
</template>

<script>
import FormProfile from "@/components/forms/profile/FormProfile.vue";
import FormPassword from "@/components/forms/profile/FormPassword.vue";

export default {
    name: 'ProfileSeetings',
    components: { FormProfile, FormPassword }
}
</script>

<style>

</style>