<template>
  <div class="row-span-1 col-start-3 col-span-2 flex flex-col items-center">
    <div class="pt-5 pl-10">
      <h2 class="text-2xl">Stands settings :</h2>
      <span class="text-xs"
        >This information will appear on your stand public page</span
      >
    </div>
  </div>

  <div class="row-span-3 col-start-5 col-span-2 pt-5">
    <form @submit.prevent>
      <InputTextActivated
        v-model="formStand.name"
        label="Name"
        :error="v$.formStand.name.$error"
      >
        <InputError
          v-if="v$.formStand.name.$error"
          :message="v$.formStand.name.$errors[0].$message"
        />
        <span class="text-xs">The name of your stand.</span>
      </InputTextActivated>

      <InputTextActivated
        v-model="formStand.email"
        label="Email"
        :error="v$.formStand.email.$error"
      >
        <InputError
          v-if="v$.formStand.email.$error"
          :message="v$.formStand.email.$errors[0].$message"
        />
        <span class="text-xs">The email of your stand, default owner email.</span>
      </InputTextActivated>

      <InputTextActivated
        v-model="formStand.phone"
        label="Phone"
        :error="v$.formStand.phone.$error"
      >
        <InputError
          v-if="v$.formStand.phone.$error"
          :message="v$.formStand.phone.$errors[0].$message"
        />
        <span class="text-xs">The phone number of your stand.</span>
      </InputTextActivated>

      <InputTextActivated
        v-model="formStand.siret"
        label="Siret"
        :error="v$.formStand.siret.$error"
      >
        <InputError
          v-if="v$.formStand.siret.$error"
          :message="v$.formStand.siret.$errors[0].$message"
        />
        <span class="text-xs">Your company siret.</span>
      </InputTextActivated>

      <InputSelectActivated
        v-model="formStand.categorie"
        label="Categorie"
        :error="v$.formStand.categorie.$error"
        :options="['Fast-food', 'Bijous']"
      >
        <InputError
          v-if="v$.formStand.categorie.$error"
          :message="v$.formStand.categorie.$errors[0].$message"
        />
        <span class="text-xs">Your stand catégorie.</span>
      </InputSelectActivated>

      <InputTextActivated
        v-model="formStand.space"
        label="Space"
        :error="v$.formStand.space.$error"
        type="number"
      >
        <InputError
          v-if="v$.formStand.space.$error"
          :message="v$.formStand.space.$errors[0].$message"
        />
        <span class="text-xs">The space of your stand take in the event (m<sup>2</sup>).</span>
      </InputTextActivated>
    </form>
  </div>

  <div class="row-span-1 col-start-8 col-span-2">
    <div class="pt-5 pl-5">
      <h2 class="text-2xl">Stand Address :</h2>
      <span class="text-xs"
        >This information will appear on your stand public page.</span
      >
    </div>
  </div>

  <div class="row-span-2 col-start-10 col-span-full">
    <form @submit.prevent class="flex flex-col pt-5">
      <InputTextActivated
        v-model="formAddress.address"
        :error="v$.formAddress.address.$error"
        label="Address"
      >
        <InputError
          v-if="v$.formAddress.address.$error"
          :message="v$.formAddress.address.$errors[0].$message"
        />
        <span class="text-xs">The address of your company.</span>
      </InputTextActivated>
      <InputTextActivated
        v-model="formAddress.city"
        :error="v$.formAddress.city.$error"
        label="City"
      >
        <InputError
          v-if="v$.formAddress.city.$error"
          :message="v$.formAddress.city.$errors[0].$message"
        />
        <span class="text-xs">The city of your company.</span>
      </InputTextActivated>
      <InputTextActivated
        v-model="formAddress.zipcode"
        :error="v$.formAddress.zipcode.$error"
        label="Postal code"
      >
        <InputError
          v-if="v$.formAddress.zipcode.$error"
          :message="v$.formAddress.zipcode.$errors[0].$message"
        />
        <span class="text-xs">The postal code company.</span>
      </InputTextActivated>
    </form>
  </div>

  <div class="row-start-3 row-span-2 col-start-8 col-span-4">
    <div class="pt-5 pl-5">
      <h2 class="text-2xl">Stand description :</h2>
      <span class="text-xs">Simple description off your activity</span>
      <TextAreaActivated v-model="description" />
    </div>
  </div>

  <div class="row-start-4 row-span-1 col-start-3 col-span-3">
    <div class="w-full h-full flex items-center pl-10">
      <button
        @click="saveStandProfile()"
        class="rounded-md py-2 px-4 mr-6 text-white bg-primary hover:bg-primary/75"
      >
        Update stand settings
      </button>
      <button class="rounded-md py-2 px-4 border border-gray-300">Cancel</button>
    </div>
  </div>
</template>

<script>
import useVuelidate from "@vuelidate/core";
import InputTextActivated from "../ui/forms/InputTextActivated.vue";
import TextAreaActivated from "../ui/forms/TextAreaActivated.vue";
import InputError from "@/components/ui/forms/InputError.vue";
import { email, maxLength, minLength, minValue, required } from "@vuelidate/validators";
import InputSelectActivated from "@/components/ui/forms/InputSelectActivated.vue";

export default {
  components: { InputTextActivated, TextAreaActivated, InputError, InputSelectActivated },

  data() {
    return {
      v$: useVuelidate(),
      formAddress: {
        address: "",
        city: "",
        zipcode: "",
      },
      formStand: {
        name: "",
        email: "",
        phone: "",
        siret: "",
        categorie: "",
        space: 2,
      },
      description: ''
    };
  },

  validations() {
    return {
      formAddress: {
        address: { required },
        zipcode: { required },
        city: { required },
      },

      formStand: {
        name: { required, minLength: minLength(4), maxLength: maxLength(255) },
        email: { required, email },
        phone: { required, minLength: minLength(10), maxLength: maxLength(10) },
        siret: { required, minLength: minLength(14), maxLength: maxLength(14) },
        categorie: { required },
        space: { required, minValue: minValue(2)}
      },
    };
  },

  methods: {
    saveStandProfile() {
      console.log(this.formStand);
      console.log(this.formAddress)
    },
  },

  mounted() {
    this.v$.$validate()
  }
};
</script>

<style></style>
