<template>
    <div class="w-full flex justify-center">
        <div class="w-3/4 flex justify-center items-center">
            <div class="w-1/2">
                <h2 class="text-4xl">All festivals</h2>
                <div class="pt-4">
                    <p class="text-sm">Ici pour faire la fête ?</p>
                    <p class="text-sm">Rechercher le festival qui vous correspond</p>
                </div>
            </div>

            <div class="w-1/2 flex items-center border border-gray-300 rounded">
                <div class="p-2">
                    <font-awesome-icon icon="fa-solid fa-magnifying-glass" />
                </div>
                <input
                    class="
                        w-3/4
                        p-2 rounded
                        focus:border-gray-500 focus:outline-none
                    "
                    placeholder="Rechercher un festival"
                    v-model="search"
                />
            </div>
        </div>
    </div>

    <div class="w-full flex justify-center">
        <ul  class="w-3/4 flex flex-wrap justify-between items-center events">
            <li v-for="n in 40" class="w-1/3 events__card"></li>
        </ul>
    </div>

</template>

<script>
import InputText from '@/components/ui/forms/InputText.vue'
export default {
    name: 'Events',
    components: { InputText },

    datas() {
        return {
            search: '',
        }
    }
}
</script>

<style lang="scss" scoped>

</style>