<template>
    <div>
        <h1 class="mt-10 ml-10">Hello world!</h1>
    </div>
</template>

<script>
import { mapStores } from 'pinia'
import { useExampleStore } from '@/stores'

export default {
    name: "Home",
    data() {
        return {
            count: Number
        }
    },

    computed: {
        ...mapStores(useExampleStore)
    }
}
</script>

<style lang="scss" scoped>

</style>