<template>
    <main class="my-20 w-full h-full flex justify-center login">

        <div class="w-2/5 absolute top-[100px]">
            <Alert v-if="error" :alert="error" @remove="removeAlert()"/>
        </div>
        
        <LoginForm btnText="Sign in" @error="setError" />
        <p v-if="isLoading">Loading...</p>
    </main>
</template>

<script>
import LoginForm from '@/components/forms/security/LoginForm.vue'
import Alert from '@/components/ui/messages/Alert.vue'

export default {
    name: 'Login',
    data() {
        return {
            error: null,
            isLoading: false,
            test: { message: "Invalid login or password", type: "danger" }
        }
    },

    methods: {
        setError(error) {
            this.error = error
        },

        removeAlert() {
            this.error = null
        }
    },

    components: { LoginForm, Alert }
}
</script>

<style lang="scss" scoped>

</style>