<template>
  <main class="grid grid-cols-12 grid-rows-6">
    <div
      class="
        flex flex-col
        items-center
        row-span-full
        col-span-2
        bg-neutral-200
        rounded-tr-lg
      "
    >
      <h3 class="text-xl w-3/4">User seetings</h3>
      <ul class="w-3/4">
        <li><HeaderLink to="/profile">Profile</HeaderLink></li>
        <li>
          <!-- <HeaderLink v-if="userIsEventCreator()" to="/profile/organisation">Organisation</HeaderLink> -->
          <HeaderLink  to="/profile/organisation">Organisation</HeaderLink>
        </li>
        <!-- <li><HeaderLink v-if="userIsStandOwner()" to="/profile/stand">Stand</HeaderLink></li> -->
        <li><HeaderLink to="/profile/stand">Stand</HeaderLink></li>
      </ul>
    </div>

    <!-- component change with url to update differents seetings -->
    <component :is="is" />    
  </main>
</template>

<script>
import { mapActions, mapState } from "pinia";
import { useAuthenticationStore } from "@/stores/authentication-store";
import HeaderLink from "@/components/ui/nav/HeaderLink.vue";
import ProfileSeetings from "@/components/profile/ProfileSeetings.vue";
import OrganisationSeetings from "@/components/profile/OrganisationSeetings.vue";
import StandSeetings from "@/components/profile/StandSeetings.vue";

export default {
  name: "Profile",
  components: { 
    HeaderLink, 
    ProfileSeetings, 
    OrganisationSeetings, 
    StandSeetings 
  },

  data() {
    return {
      is: ''
    }
  },

  created() {
    console.log("-- Profile page creating --");
    if (!this.isConnected()) {
      this.$router.push({ name: "Login" });
    }
    console.log(this.$route.name)

    this.switchSeetings()
  },

  updated() {
    this.switchSeetings()
  },

  computed: {
    ...mapState(useAuthenticationStore, ['user'])
  },

  methods: {
    ...mapActions(useAuthenticationStore, ["isConnected"]),

    userIsStandOwner() {
      return this.user.roles.includes('ROLE_STAND_OWNER')
    },
    
    userIsEventCreator() {
      return this.user.roles.includes('ROLE_EVENT_CREATOR')
    },

    switchSeetings() {
      switch(this.$route.name) {
      case 'SeetingOrganisation':
        this.is = 'OrganisationSeetings'
        break;
      case 'SeetingStand':
        this.is = 'StandSeetings'
        break;
      default:
        this.is = 'ProfileSeetings'
        break;
    }
    }
  },
}
</script>

<style></style>
