<template>
    <main class="my-20 w-full h-full flex justify-center login">
        <AlertList v-if="alerts.length" :alerts="alerts" />
        <RegisterForm btnText="Register" @errors="setAlert"/>
        <!-- <p v-if="isLoading">Loading...</p> -->
    </main>
</template>

<script>
import AlertList from '@/components/ui/messages/AlertList.vue'
import RegisterForm from '@/components/forms/security/RegisterForm.vue';

export default {
    name: 'Register',
    components: { AlertList, RegisterForm },
    data() {
        return {
            alerts: []
        }
    },

    methods: {
        setAlert(alert) {
            console.log(alert)
            this.alerts.push(alert)
        }
    }

}
</script>

<style lang="scss" scoped>

</style>