<template>
  <main class="my-20 w-full h-full flex justify-center">
    <div v-if="!token" class="border border-gray rounded-xl p-8">
      <InputText type="email" v-model="email" label="email"/>

      <div class="flex justify-center pt-4">
        <button @click="resetPasswordRequest()" class="rounded-md w-full pt-2 pb-2 text-white bg-primary hover:bg-primary/75">send</button>
      </div>
    </div>

    <div v-else class="border border-gray rounded-xl p-8">
      <InputText type="password" v-model="password" label="New password"/>
      <InputText type="password" v-model="plainPassword" label="Confirme new password"/>

      <div class="flex justify-center pt-4">
        <button @click="changePasswordRequest()" class="rounded-md w-full pt-2 pb-2 text-white bg-primary hover:bg-primary/75">update password</button>
      </div>
    </div>
  </main>
</template>

<script>
import InputText from "@/components/ui/forms/InputText.vue";
import { mapStores } from "pinia";
import {useAuthenticationStore} from "@/stores/authentication-store.js";

export default {
  name: 'ResetPassword',
  components: {InputText},

  data() {
    return {
      token: null,
      email: '',
      password: '',
      plainPassword: ''
    }
  },

  created() {
    console.log(this.$route)
    if(this.$route.query.token) {
      this.token = this.$route.query.token
    }
  },

  computed: {
    ...mapStores(useAuthenticationStore)
  },

  methods: {
    resetPasswordRequest() {
      console.log('reset password method')
      this.authenticationStore.resetPasswordRequest(this.email)
    },

    changePasswordRequest() {
      console.log('change password')
      this.authenticationStore.changePasswordRequest(this.token, this.password)
    }
  }
}
</script>
