<template>
  <div class="flex flex-col mb-4">
    <label v-if="label">{{ label }}</label>
    <input
      class="
        p-2 rounded
        border border-gray-300
        focus:border-gray-500 focus:outline-none
      "
      :type="type"
      :value="modelValue"
      @input="$emit('update:modelValue', $event.target.value)"
      :class="{ 'border-rose-500': error, 'disabled:opacity-50': disabled }"
      :disabled="disabled"
    />
    <!-- <InputError v-if="v$.form.lastname.$error" :message="v$.form.lastname.$errors[0].$message" /> -->
    <slot></slot>
  </div>
</template>

<script>
export default {
  name: "InputText",
  props: {
    modelValue: { type: String },
    error: { type: Boolean, default: false },
    type: { type: String, default: "text" },
    label: { type: String },
    disabled: { type: Boolean, default: false }
  },
  emits: ["update:modelValue"],
};
</script>

<style>
</style>