<template>
    <div class="flex flex-col mb-4">
        <label v-if="label">{{ label }}</label>
        <div class="flex items-center">
            <input
                class="
                w-9/10
                p-2
                border border-gray-300
                rounded
                focus:border-gray-500 focus:outline-none
                disabled:opacity-50
                "
                :type="type"
                :value="modelValue"
                @input="$emit('update:modelValue', $event.target.value)"
                :class="{ 'border-rose-500': error }"
                :disabled="!activate"
            />
            <!-- <InputError v-if="v$.form.lastname.$error" :message="v$.form.lastname.$errors[0].$message" /> -->
            <font-awesome-icon v-show="!activate" @click="activated()" class="text-sky-500 ml-6" icon="fa-solid fa-arrows-rotate" size="lg" />
            <font-awesome-icon v-show="activate" @click="activated()" class="text-primary ml-6" icon="fa-solid fa-arrows-rotate" size="lg" />
        </div>
        
        <slot></slot>
    </div>
</template>

<script>
export default {
    name: "InputSelectActivated",
    data() {
        return {
            activate: false
        }
    },
    props: {
        modelValue: { type: String },
        error: { type: Boolean, default: false },
        type: { type: String, default: "text" },
        label: { type: String },
    },
    emits: ["update:modelValue"],
    methods: {
        activated() {
            this.activate = !this.activate
        }
    }
    
}
</script>

<style>

</style>