<template>
  <div class="flex flex-col mb-4">
    <label v-if="label">{{ label }}</label>
    <div class="flex items-center">
      <select
        class="
          w-11/12
          p-2
          border border-gray-300
          bg-transparent
          rounded
          focus:border-gray-500 focus:outline-none
          disabled:opacity-50
        "
        :value="modelValue"
        @input="$emit('update:modelValue', $event.target.value)"
        :class="{ 'border-rose-500': error }"
        :multiple="multiple ? true : false"
        :disabled="!activate"
      >
        <option
          v-for="(value, key, index) in options"
          :key="index"
          :value="key"
        >
          {{ value }}
        </option>
        
      </select>
      <font-awesome-icon
          v-show="!activate"
          @click="activated()"
          class="text-sky-500 ml-6"
          icon="fa-solid fa-arrows-rotate"
          size="lg"
        />
        <font-awesome-icon
          v-show="activate"
          @click="activated()"
          class="text-primary ml-6"
          icon="fa-solid fa-arrows-rotate"
          size="lg"
        />
    </div>

    <slot></slot>
  </div>
</template>

<script>
export default {
  name: "InputSelectActivated",
  props: {
    modelValue: { type: String },
    error: { type: Boolean, default: false },
    multiple: { type: Boolean, default: false },
    label: { type: String },

    options: { type: Object, require: true },
  },

  data() {
    return {
      activate: false,
    };
  },
  emits: ["update:modelValue"],
  methods: {
    activated() {
      this.activate = !this.activate;
    },
  },
};
</script>

<style></style>
