<template>
  <div class="flex flex-col mb-4">
    <label v-if="label">{{ label }}</label>
    <select
      class="
        w-full
        p-2
        border
        bg-transparent
        border-gray-300
        rounded
        focus:border-gray-500 focus:outline-none
      "
      :value="modelValue"
      @input="$emit('update:modelValue', $event.target.value)"
      :class="{ 'border-rose-500': error }"
      :multiple="multiple ? true : false"
    >
      <option v-for="(value, key, index) in options" :key="index" :value="key">
        {{ value }}
      </option>
    </select>
    <font-awesome-icon v-show="!activate" @click="activated()" class="text-sky-500 ml-6" icon="fa-solid fa-arrows-rotate" size="lg" />
    <font-awesome-icon v-show="activate" @click="activated()" class="text-primary ml-6" icon="fa-solid fa-arrows-rotate" size="lg" />
    <slot></slot>
  </div>
</template>

<script>
export default {
  name: "InputSelect",
  props: {
    modelValue: { type: String },
    error: { type: Boolean, default: false },
    multiple: { type: Boolean, default: false },
    label: { type: String },

    options: { type: Object, require: true },
  },
};
</script>

<style>
</style>