<template>
    <span class="text-xs text-rose-500">{{ message }}</span>
</template>

<script>
export default {
    props: {
        message: {
            type: String,
            require: true
        }
    }
}
</script>

<style lang="scss" scoped>

</style>