<template>
    <div class="flex">
        <textarea
        class="
        w-11/12
        p-2
        border border-gray-300
        rounded
        focus:border-gray-500 focus:outline-none
        disabled:opacity-50
        resize-none
        "
        cols="30"
        rows="5"
        :value="modelValue"
        @input="$emit('update:modelValue', $event.target.value)"
        :disabled="!activate"
        maxlength="500"
    ></textarea>

    <!-- <InputError v-if="v$.form.lastname.$error" :message="v$.form.lastname.$errors[0].$message" /> -->
    <font-awesome-icon v-show="!activate" @click="activated()" class="text-sky-500 ml-6" icon="fa-solid fa-arrows-rotate" size="lg" />
    <font-awesome-icon v-show="activate" @click="activated()" class="text-primary ml-6" icon="fa-solid fa-arrows-rotate" size="lg" />
    </div>
  
</template>

<script>
export default {
    props: {
        modelValue: { type: String },
    },

    data() {
        return {
            activate: false
        }
    }
,

    emits: ["update:modelValue"],
    methods: {
        activated() {
            this.activate = !this.activate
        }
    }
}
</script>

<style>
</style>