<template>
    <component
        :is="balise"
        :class="[ 
            'flex',
            `flex-${flexDirection}`, 
            `justify-${justifyContent}`, 
            `items-${alignItems}`
        ]"
    >
        <slot></slot>
    </component>
</template>

<script>
export default {
    name: 'FLex',
    props: {
        // w: { type: String, default: 'auto' }, // width
        h: { type: String, default: 'auto'},
        flexDirection: { type: String, default: 'row' }, // flex-direction
        justifyContent: { type: String, default: 'start' }, // justify-content
        alignItems: { type: String, default: 'start' }, // aligns-items
        balise: { type: String, default: "div"}
    },

    computed: {
        width() {
            return `w-${this.w}`
        }
    }
}
</script>

<style>
.justify-center {
    justify-content: center;
}
.justify-start {
    justify-content: flex-start;
}
.justify-end {
    justify-content: flex-end;
}
.justify-between {
    justify-content: space-between;
}
.justify-around {
    justify-content: space-around;
}
.justify-evenly {
    justify-content: space-evenly;
}


.flex-row {
    flex-direction: row;
}
.flex-row-reverse {
    flex-direction: row-reverse;
}
.flex-col {
    flex-direction: column;
}
.flex-col-reverse {
    flex-direction: column-reverse;
}


.items-start {
    align-items: flex-start;
}
.items-end {
    align-items: flex-end;
}
.items-center {
    align-items: center;
}
.items-baseline {
    align-items: baseline;
}
.items-stretch {
    align-items: stretch;
}
</style>